// Card Component Stylesheet
// ========================================

// Variables
$card-bg: white;


// Structure
.card {
  background-color: $card-bg;
  border: 1px solid gray;
  display: inline-block;
  margin: 0 0 $spacer-m;
  padding: $spacer-m;
}
