// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Bowlby One SC', cursive;

// Text Alignment
$text-align-center:  center;
$text-align-left:    left;
$text-align-justify: justify;
$text-align-right:   right;

// Text Colors Map
$type-colors: (
  'black':     ( black ),
  'blue':      ( blue  ),
  'white':      ( white  ),

);
