// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Bowlby One SC', cursive;

// Text Alignment
$text-align-center:  center;
$text-align-left:    left;
$text-align-justify: justify;
$text-align-right:   right;

// Text Colors Map
$type-colors: (
  // 'black':     ( $black-base ),
  // 'blue':      ( $blue-base  ),
  // 'grey':      ( $grey-base  ),
  // 'grey-dark': ( $grey-dark  ),
  // 'purple':    ( $purple-base),
  // 'white':     ( $white-base )
);
