// Base Layout Stylesheet
// This is where your layout will go
// ========================================

.header {

  &__nav {

    &__list {

      &__item {

        &__link {

        }
      }
    }
  }
}

.main {
  margin: $spacer-m;

  &__section {
    margin: $spacer-lg $reset-zero;

    &--index {

    }
  }
}

.item-container {
    margin: $spacer-m $reset-zero;
}

.footer {

}
