// Typograpgy Mixin Settings Stylesheet
// ========================================

// Font Styles
@mixin font-type($type, $style, $weight) {
  font-family: $type;
  font-style:  $style;
  font-weight: $weight;
}
